* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background: url('../img/background-mobile.jpg'); */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: #404c48; */
  /* height: 300px; */
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* ? ----- PORTADA ----- */
.portada {
  width: 100%;
  max-height: 800px;
  min-height: 70vh;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-align: center;
  transition: 0.5s ease-out all;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  overflow: hidden;
}
.portada.oculta {
  transform: translateY(100%);
}
.header {
  padding-top: 40px;
}
.logotipo {
  width: 250px;
}
.mensaje {
  color: white;
  font-size: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.saludo {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 30px;
}
.container {
  padding-top: 60px;
  width: 100%;
  margin: 0 auto;
}
.containerNotificame {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}
.containerSubscribe {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.inputField {
  flex: 1;
  height: 40px;
  color: white;
  padding: 3px;
  width: 200px;
  background: transparent;
  border: 1px solid white;
}

.input:focus {
  border: 1px solid white;
}

button {
  height: 40px;
  padding: 10px;
  background-color: white;
  border: 1px solid white;
  float: right;
}

/* ? ----- Cuenta Regresiva ----- */
#cuenta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.simply-section {
  background: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0 20px;
}

.simply-amount {
  display: block;
  font-size: 25px;
  font-weight: 700;
}

.simply-word {
  font-weight: 300;
  font-size: 15px;
}

::placeholder {
  color: gray;
}
.containerContactame {
  padding-top: 20px;
}
/* ? ---------------------------- */

/* ? ----- REDES SOCIALES ----- */
.redes-sociales .btn-red-social {
  padding: 30px 0 0 0;
  display: inline-block;
  align-items: center;
  min-width: 20px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  margin: 0 20px;
  transition: 0.3s ease all;
}

.redes-sociales .btn-red-social:hover {
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 767px) {
  body {
    background-image: url(../img/background-mobile.jpg);
    background-size: cover;
    /* background-position: center center; */
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 768px) {
  body {
    background: url(../img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #404c48;
  }
  .logotipo {
    width: 300px;
  }
  .mensaje {
    font-size: 14px;
    margin: auto;
  }
  .saludo {
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 30px;
  }
  .portada .header {
    margin-bottom: 50px;
  }
  .inputField {
    width: 300px;
    padding: 10px;
  }
  .simply-section {
    width: 80px;
    height: 80px;
    margin: 0 10px;
  }
  #cuenta {
    padding-top: 0px;
  }
  .container {
    padding-top: 80px;
  }
  .containerNotificame {
    padding-top: 50px;
  }
  .containerSubscribe {
    padding-top: 10px;
  }
  .containerContactame {
    padding-top: 60px;
  }
  .redes-sociales .btn-red-social {
    padding: 20px 0 0 0;
  }
}
